.panel.pipe-maze__grid {
	align-items: center;
	display: flex;
	grid-column: span 3;
	justify-content: center;
}

.pipe-maze__grid-container {
	height: 560px;
	position: relative;
	width: 560px;
}

.pipe-maze__grid-dot {
	display: block;
	height: 4px;
	position: absolute;
	width: 4px;
}

.pipe-maze__grid-dot.is-start {
	background-color: var(--color-text);
	border-radius: 1px;
}

.pipe-maze__grid-dot.is-dot {
	background-color: var(--color-accent);
	border-radius: 1.5px;
	height: 3px;
	transform: translateX( 0.5px ) translateY( 0.5px );
	width: 3px;
}

.pipe-maze__grid-dot::before,
.pipe-maze__grid-dot::after {
	background-color: var(--color-neutral-60);
	content: "";
	display: block;
	position: absolute;
}

.pipe-maze__grid-dot.is-combined::before,
.pipe-maze__grid-dot.is-combined::after {
	background-color: var( --color-neutral-20 );
}

.pipe-maze__grid-dot.is-vertical::before {
	height: 4px;
	left: 1px;
	top: 0px;
	width: 2px;
}

.pipe-maze__grid-dot.is-horizontal::before {
	height: 2px;
	left: 0px;
	top: 1px;
	width: 4px;
}

.pipe-maze__grid-dot.is-top-left::before {
	height: 3px;
	left: 1px;
	top: 0px;
	width: 2px;
}

.pipe-maze__grid-dot.is-top-left::after {
	height: 2px;
	left: 0px;
	top: 1px;
	width: 3px;
}

.pipe-maze__grid-dot.is-top-right::before {
	height: 3px;
	left: 1px;
	top: 0px;
	width: 2px;
}

.pipe-maze__grid-dot.is-top-right::after {
	height: 2px;
	left: 1px;
	top: 1px;
	width: 3px;
}

.pipe-maze__grid-dot.is-bottom-left::before {
	height: 3px;
	left: 1px;
	top: 1px;
	width: 2px;
}

.pipe-maze__grid-dot.is-bottom-left::after {
	height: 2px;
	left: 0px;
	top: 1px;
	width: 3px;
}

.pipe-maze__grid-dot.is-bottom-right::before {
	height: 3px;
	left: 1px;
	top: 1px;
	width: 2px;
}

.pipe-maze__grid-dot.is-bottom-right::after {
	height: 2px;
	left: 1px;
	top: 1px;
	width: 3px;
}
